<ul style="list-style:none;">
<li ng-repeat="user in  friends"><!-- friends is an Array of User object in JSON format -->
{{user.email}}<br>
{{user.firstname}}&nbsp; {{user.lastname}}<br>
{{user.role}}<br>
<hr>
<img src="http://localhost:9040/MiddleWare/getimage?email={{user.email}}" alt="No Image" height="60px" width="60px">
<br>
<a ng-click="getMutualFriends(user.email)">Get Mutual Friends</a><br>
<div ng-show="user.email==forUser">Mutual Friends ({{mutualfriends.length}})<br>
    <ul style="list-style:none">
      <li ng-repeat="mutualfriend in mutualfriends">
      {{mutualfriend.email}}
      </li>
    </ul>
    </div>
<hr>
</li>
</ul>
</div>
</div>

</div>

</li>
</ul>
