<div class="panel panel-info">
		<div class="panel-heading">
			<b>Job Details</b>
		</div>
		<div class="panel-body">
			<ul style="list-style:none">
				<li ng-repeat="job in jobs"><!-- jobs is $scope variable  -->  
				<b>Job Title          :  {{job.jobTitle}}</b><br>
				<b>Skills Required    :  {{job.skillsRequired}}</b><br>
				<b>Experience Required:  {{job.yrsOfExp}}</b><br>
				<div ng-show="showJobDetails && job.id==jobId">
				<b>Description:</b><br>
				&nbsp;&nbsp;{{job.jobDescription}}<br>
				<b>Location</b><br>
				&nbsp;&nbsp;{{job.location}}<br>
				<b>Salary</b><br>
				&nbsp;&nbsp;{{job.salary}}
				</div>
				<a ng-click="setValue(job.id)" ng-show="!(showJobDetails && job.id==jobId) ">Show more</a><br>
				<a ng-click="setValue(job.id)" ng-show="showJobDetails && job.id==jobId">show less</a><br>
				
				<a ng-show="user.role=='ADMIN'" ng-click="deleteJob(job.id)"><span class="glyphicon glyphicon-trash"></span></a>
				 <hr>
				</li>  
			</ul>
		</div>
	</div>
